<?xml version="1.0"?>
<config>
    <modules>
        <Flubit_Flubit>
            <version>0.3.3</version>
        </Flubit_Flubit>
    </modules>
    <frontend>
        <routers>
            <flubit>
                <use>standard</use>
                <args>
                    <module>Flubit_Flubit</module>
                    <frontName>flubit</frontName>
                </args>
            </flubit>
        </routers>
    </frontend>
    <admin>
        <routers>
            <flubit>
                <use>admin</use>
                <args>
                    <module>Flubit_Flubit</module>
                    <frontName>flubit</frontName>
                </args>
            </flubit>
        </routers>
    </admin>
    <adminhtml>        
        <menu>
            <catalog>
                <children>
                    <flubit translate="title" module="flubit">
                        <title>Flubit Products</title>
                        <action>flubit/adminhtml_flubit</action>
                    </flubit>
                </children>
            </catalog>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Flubit_Flubit>
                            <title>Flubit Module</title>
                            <sort_order>10</sort_order>
                        </Flubit_Flubit>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <flubit>
                    <file>flubit.xml</file>
                </flubit>
            </updates>
        </layout>
		<events>
        	<core_block_abstract_to_html_before>
            	<observers>
                	<core_block_abstract_to_html_before_flubit_handler>
                    	<class>Flubit_Flubit_Model_Observer</class>
                    	<method>beforeBlockToHtml</method>
                	</core_block_abstract_to_html_before_flubit_handler>
            	</observers>
        	</core_block_abstract_to_html_before>
    	</events>
    </adminhtml>
    <global>        
        <models>
            <flubit>
                <class>Flubit_Flubit_Model</class>
                <resourceModel>flubit_flubit_mysql4</resourceModel>
            </flubit>
            
            <sales>
                <rewrite>
                    <order_pdf_invoice>Flubit_Flubit_Model_Order_Pdf_Invoice</order_pdf_invoice>
                    <order_pdf_items_invoice_default>Flubit_Flubit_Model_Order_Pdf_Items_Invoice_Default</order_pdf_items_invoice_default>
                    <order_pdf_creditmemo>Flubit_Flubit_Model_Order_Pdf_Creditmemo</order_pdf_creditmemo>
                    <order_pdf_items_creditmemo_default>Flubit_Flubit_Model_Order_Pdf_Items_Creditmemo_Default</order_pdf_items_creditmemo_default>
                </rewrite>
            </sales>
            <shipping>
                <rewrite>
                    <shipping>Flubit_Flubit_Model_Shipping</shipping>
                    <carrier_flatrate>Flubit_Flubit_Model_Carrier_Flatrate</carrier_flatrate>
                </rewrite>
            </shipping>
            <flubit_flubit_mysql4>
                <class>Flubit_Flubit_Model_Mysql4</class>
                <entities>
                    <flubit>
                        <table>flubit_product_update</table>
                    </flubit>
                    <logs>
                        <table>flubit_feeds_log</table>
                    </logs>
                    <order>
                        <table>flubit_order</table>
                    </order>
                    <ordertime>
                        <table>flubit_ordertime</table>
                    </ordertime>
                    <globalproduct>
                        <table>flubit_global_product</table>
                    </globalproduct>
                </entities>
            </flubit_flubit_mysql4>
        </models>
        <resources>
            <flubit_setup>
                <setup>
                    <module>Flubit_Flubit</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </flubit_setup>
            <flubit_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </flubit_write>
            <flubit_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </flubit_read>
        </resources>
        <blocks>
            <flubit>
                <class>Flubit_Flubit_Block</class>                
            </flubit>
            <flubit_renderer>
                <class>Flubit_Flubit_Block_Adminhtml_Widget_Grid_Column_Renderer</class>
            </flubit_renderer>
            <adminhtml>
                <rewrite>
                    <sales_order_view_info>Flubit_Flubit_Block_Sales_Order_View_Info</sales_order_view_info>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>
            <sales_order_creditmemo_save_after>
                <observers>
                    <sales_order_creditmemo_save_after_flubit_handler>
                        <type>singleton</type>
                        <class>Flubit_Flubit_Model_Observer</class>
                        <method>cancelFlubitOrder</method>
                    </sales_order_creditmemo_save_after_flubit_handler>
                </observers>
            </sales_order_creditmemo_save_after>
            <catalog_product_load_after>
                <observers>
                    <catalog_product_load_after_flubit_handler>
                        <type>singleton</type>
                        <class>Flubit_Flubit_Model_Observer</class>
                        <method>lockAttributes</method>
                    </catalog_product_load_after_flubit_handler>
                </observers>
            </catalog_product_load_after>
            
            <!--<catalog_product_save_before>
                <observers>
                    <catalog_product_save_before_flubit_handler>
                        <type>singleton</type>
                        <class>Flubit_Flubit_Model_Observer</class>
                        <method>saveFlubitProduct</method>
                    </catalog_product_save_before_flubit_handler>
                </observers>
            </catalog_product_save_before>-->
            
            <catalog_product_delete_before>
                <observers>
                    <catalog_product_delete_before_flubit_handler>
                        <type>singleton</type>
                        <class>Flubit_Flubit_Model_Observer</class>
                        <method>deleteFlubitProduct</method>
                    </catalog_product_delete_before_flubit_handler>
                </observers>
            </catalog_product_delete_before>
			
            <catalog_product_save_after>
                <observers>
                    <catalog_product_save_after_flubit_handler>
                        <type>singleton</type>
                        <class>Flubit_Flubit_Model_Observer</class>
                        <method>saveFlubitProduct</method>
                    </catalog_product_save_after_flubit_handler>
                </observers>
            </catalog_product_save_after>
            
            <sales_order_place_after>
                <observers>
                    <sales_order_place_after_flubit_handler>
                        <type>singleton</type>
                        <class>Flubit_Flubit_Model_Observer</class>
                        <method>saveOrderAfter</method>
                    </sales_order_place_after_flubit_handler>
                </observers>
            </sales_order_place_after>
            
            <core_block_abstract_to_html_before>
                <observers>
                    <core_block_abstract_to_html_before_flubit_handler>
                        <class>Flubit_Flubit_Model_Observer</class>
                        <method>removeSendMailButton</method>
                        <type>model</type>
                    </core_block_abstract_to_html_before_flubit_handler>
                </observers>
            </core_block_abstract_to_html_before>
            <catalog_product_attribute_update_before>
                <observers>
                    <core_block_abstract_to_html_before_flubit_handler>
                        <class>Flubit_Flubit_Model_Observer</class>
                        <method>saveFlubitProductMassAttributeUpdate</method>
                        <type>model</type>
                    </core_block_abstract_to_html_before_flubit_handler>
                </observers>
            </catalog_product_attribute_update_before>
            
            <admin_system_config_changed_section_flubit_section>
                <observers>
                    <mymodule>
                        <type>model</type>
                        <class>Flubit_Flubit_Model_Observer</class>
                        <method>saveConfigObserver</method>
                    </mymodule>
                </observers>
            </admin_system_config_changed_section_flubit_section>
        </events>
        <helpers>
            <flubit>
                <class>Flubit_Flubit_Helper</class>
            </flubit>
			
            <payment>
                <rewrite>
                    <data>Flubit_Flubit_Helper_Payment_Data</data>
                </rewrite>
            </payment>
        </helpers>
    </global>
    <default>
        <payment>
            <flubitterms>
                <model>flubit/payment_method_flubitterms</model>
                <active>1</active>
                <title>Custom Flubit Terms</title>
                <order_status>pending</order_status>
            </flubitterms>
        </payment>
        <flubit_section>                
            <flubit_setup>
                <product_cron_settings>*/10 * * * *</product_cron_settings>
            </flubit_setup>
        </flubit_section>
        <flubit_section>                
            <flubit_setup>
                <order_cron_settings>*/10 * * * *</order_cron_settings>
            </flubit_setup>
        </flubit_section>
        <flubit_section>                
            <flubit_setup>
                <order_dispatch_cron_settings>*/10 * * * *</order_dispatch_cron_settings>
            </flubit_setup>
        </flubit_section>
        <flubit_section>                
            <flubit_setup>
                <order_cancel_cron_settings>*/10 * * * *</order_cancel_cron_settings>
            </flubit_setup>
        </flubit_section>
        <flubit_section>                
            <flubit_setup>
                <order_refund_cron_settings>*/10 * * * *</order_refund_cron_settings>
            </flubit_setup>
        </flubit_section>
        <flubit_section>                
            <flubit_setup>
                <index_cron_settings>5 5 * * *</index_cron_settings>
            </flubit_setup>
        </flubit_section>
    </default>
    <crontab>
        <jobs>
		<!-- smb addition of cron for product indexing -->
            <flubit_index_cron>                
                <schedule>
                    <config_path>flubit_section/flubit_setup/index_cron_settings</config_path>
                </schedule>
                <run>
                    <model>flubit/flubit::smbIndexProducts</model>
                </run>
            </flubit_index_cron>
			<!-- end smb addition -->
            <flubit_products_cron>                
                <schedule>
                    <config_path>flubit_section/flubit_setup/product_cron_settings</config_path>
                </schedule>
                <run>
                    <model>flubit/flubit::generateProductXML</model>
                </run>
            </flubit_products_cron>
            <flubit_orders_fetch_cron>                
                <schedule>
                    <config_path>flubit_section/flubit_setup/order_cron_settings</config_path>
                </schedule>
                <run>
                    <model>flubit/flubit::getFlubitOrders</model>
                </run>
            </flubit_orders_fetch_cron>
            <flubit_orders_dispatch_cron>
                <schedule>
                    <config_path>flubit_section/flubit_setup/order_dispatch_cron_settings</config_path>
                </schedule>
                <run>
                    <model>flubit/flubit::dispatchFlubitOrders</model>
                </run>
            </flubit_orders_dispatch_cron>
            <flubit_orders_cancel_cron>
                <schedule>
                    <config_path>flubit_section/flubit_setup/order_cancel_cron_settings</config_path>
                </schedule>
                <run>
                    <model>flubit/flubit::cancelFlubitOrders</model>
                </run>
            </flubit_orders_cancel_cron>
            <flubit_orders_refund_cron>
                <schedule>
                    <config_path>flubit_section/flubit_setup/order_refund_cron_settings</config_path>
                </schedule>
                <run>
                    <model>flubit/flubit::refundFlubitOrders</model>
                </run>
            </flubit_orders_refund_cron>
            <flubit_update_price>
                <schedule>
                    <cron_expr>*/3 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>flubit/flubit::updateFlubitPrice</model>
                </run>
            </flubit_update_price>
           <Flubit_flubit_archive>
                <schedule>
                    <cron_expr>* */24 * * *</cron_expr>
                </schedule>
                <run>
                    <model>flubit/flubit::archiveLog</model>
                </run>
            </Flubit_flubit_archive>
            <Flubit_flubit_globalupdate>
                <schedule>
                    <cron_expr>*/4 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>flubit/globalproduct::sendFlubitProductMassAttributeUpdate</model>
                </run>
            </Flubit_flubit_globalupdate>
        </jobs>
    </crontab>
</config>