<?xml version="1.0"?>
<config>
    <tabs>
        <flubit_tab translate="label" module="flubit">
            <!--<label>flubit</label>-->
            <label><![CDATA[<div style="position: absolute;"><img id="flubit_logo" src="" alt="" border="0" /></div>&nbsp;<script>$('flubit_logo').src = SKIN_URL + "images/flubit/logo.png";</script>]]></label>
            <sort_order>0</sort_order>
        </flubit_tab>
    </tabs>
    <sections>
        <flubit_section translate="label" module="flubit">                    
            <label>Flubit</label>
            <tab>flubit_tab</tab>
            <frontend_type>text</frontend_type>
            <sort_order>0</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store> 
            <groups>
                <flubit_configuration translate="label"> 
                    <label>Flubit Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[<span style="color:#2a6994;">
<strong style="color:#00AEED;">Disclaimer:</strong><br/>
In order for the extension to run please ensure that Crons/Scheduled Tasks are set up and executing on your hosted environment.<br/><br/>
If not the following functionalities will be affected.<br/>
<ul>
<li>1. Product Creation and Updates to the Flubit Channel.</li>
<li>2. Fetching Orders from Flubit.</li>
<li>3. Order Status Updates being sent to Flubit.</li>

</ul><br/>
<span style="color:#000;">Fields with * are Mandatory.</span>
</span><br/>
<br/>                               
]]></comment>           
                    <fields>
                        <flubit_consumer_key translate="label">
                            <label>Consumer Key*</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <comment>Please enter your personal consumer key provided by Flubit.</comment>
                        </flubit_consumer_key>
                        <flubit_secret translate="label">
                            <label>Secret*</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <comment>Please enter your personal secret key provided by Flubit.</comment>
                        </flubit_secret>
                        <flubit_url translate="label">
                            <label>URL*</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <comment>Please enter the API URL</comment>
                        </flubit_url>
                        <run translate="label">
                            <frontend_type>button</frontend_type>
                            <frontend_model>Flubit_Flubit_Block_Adminhtml_Button</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </run>
                    </fields>
                </flubit_configuration>
                <flubit_grid translate="label"> 
                    <label>Flubit Product grid</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>Wish to extend the Flubit Product Grid?</comment>
                    <fields>
                        <product_grid_attributes translate="label">
                            <label>Product Attributes</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Please enter upto two attribute codes seperated by a ,<br /> eg 'color,size'.<br />These columns will then be added to the flubit product grid to help you better filter them<br />Please note this will only work with attributes type dropdown/select]]></comment>
                        </product_grid_attributes>
                    </fields>
                </flubit_grid>
                <flubit_setup translate="label"> 
                    <label>Flubit Setup</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <product_cron_settings translate="label">
                            <label>Product Update Frequency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>flubit/flubit_source</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>How often do you want the cron to run?</comment>
                        </product_cron_settings>
                        <order_cron_settings translate="label">
                            <label>Order Fetch Freqency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>flubit/flubit_order</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>How often do you want the cron to run?</comment>
                        </order_cron_settings>
                        <order_dispatch_cron_settings translate="label">
                            <label>Dispatch Order Freqency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>flubit/flubit_rcd</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>How often do you want the cron to run?</comment>
                        </order_dispatch_cron_settings>
                        <order_cancel_cron_settings translate="label">
                            <label>Cancel Order Freqency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>flubit/flubit_rcd</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>How often do you want the cron to run?</comment>
                        </order_cancel_cron_settings>
                        <order_refund_cron_settings translate="label">
                            <label>Refund Order Freqency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>flubit/flubit_rcd</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>How often do you want the cron to run?</comment>
                        </order_refund_cron_settings>
                        <index_cron_settings translate="label">
                            <label>Product Index Freqency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>flubit/flubit_rcd</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>How often do you want the cron to run?</comment>
                        </index_cron_settings>
                        <run translate="label">
                            <frontend_type>button</frontend_type>
                            <frontend_model>Flubit_Flubit_Block_Adminhtml_IndexButton</frontend_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>This runs at about 300 products a minute so it could take a long time for large catalogs</comment>
                        </run>
                        <flubit_chunk translate="label">
                            <label>Product Chunk Size</label>
                            <frontend_type>select</frontend_type>
                            <source_model>flubit/flubit_chunk</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry validate-greater-than-zero</validate>
                            <comment>Please select the maximum number of records you would like to push per request.</comment>
                        </flubit_chunk>
                        <price_based_on translate="label">
                            <label>FBP based On:*</label>
                            <frontend_type>select</frontend_type>
                            <source_model>flubit/flubit_price</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <comment></comment>
                        </price_based_on>
                        <global_price translate="label">
                            <label>Percentage Calculation:*</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry validate-greater-than-zero</validate>
                            <comment>E.g. to attain 20% off your Store Price enter ‘.8’, to attain 20% surcharge on your Store Price enter ‘1.2’ </comment>
                        </global_price>
                        </fields>
                </flubit_setup>                
            </groups>
        </flubit_section>
    </sections>
</config>
